@{
    ViewData["Title"] = "Contact";
}
<center>
    <h1>How can we help?</h1>
    <h2>Ask us any question by using the contactform below</h2>
</center>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="contactform">
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </div>
    </div>

    <div class="col-md-4">
        <h3>Contact information</h3>
        <address>
            Dankboyz APS<br />
            Denmark, Odense C, 5000<br />
            +45 11 22 33 66 <br />
            DankMail@TopKek.com
        </address>
    </div>
</div>
   


