@model EsportProject.Models.EmailContact

@{
    ViewData["Title"] = "Contact";
}
@if (Model.Info != "" && Model.Info != null)
{
    <script type="text/javascript">
     alert("@Model.Info");
    </script>

}
<center>
    <h1>How can we help?</h1>
    <h2>Ask us any question by using the contactform below</h2>
</center>
<br />
<div class="row">
    <div class="col-md-8">

        <form id="contactform" asp-controller="Home" asp-action="Contact" method="post">
           
                <label>First Name</label>
                <input id="contacttextfield" asp-for="FirstName" placeholder="Your name.." />
                <label>Last Name</label>
                <input id="contacttextfield" asp-for="LastName" placeholder="Your last name.." />
                <label>E-mail adress</label>
                <input id="contacttextfield" asp-for="EmailAdress" placeholder="Your E-Mail adress.." />
                <br />
                <label>Subject</label>
                <textarea id="textareacontact" asp-for="Message" placeholder="Write something.." style="height:200px"></textarea>
                <button id="submitcontact" type="submit">DO IT</button>
        </form>
    </div>

    <div class="col-md-4">
        <a class="twitter-timeline" data-width="400" data-height="530" href="https://twitter.com/Kripparrian">Tweets by Kripparrian</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>



