@{
    ViewData["Title"] = "News Page";
}

<center>
    <h1 id="newsheadline">News</h1>
</center>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>