
@{
    ViewData["Title"] = "NotFound";
}

<h1 class="text-danger">404 Page not found</h1>
<h4 class="text-danger">We cant find the page you are looking for</h4>
<img src="~/images/NotFound.png" class="img-responsive" alt="Dank 404" />
