@{
    ViewData["Title"] = "Teams Page";
}

<center>
    <h1>Teams</h1>
</center>

<div class="row">
    
    <div id="teamselect" class="col-md-4">
        <h4>Vælg kategori:</h4>
        <select>
            <option value="Counterstrike">Counterstrike</option>
            <option value="Leagueoflegends">League of Legends</option>
            <option value="Overwatch">Overwatch</option>
            <option value="Dota2">Dota 2</option>
        </select>
    </div>
    <div class="col-md-8">
        <div>

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="~/images/Placehold.jpg" class="img-responsive" />
    </div>
</div>
