@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    margin: 0;
    padding: 0;
    font-family: Calibri, serif;
    background-color: lightgrey;
}
