.container {
    padding-top: 15px;
}
#specificnewsarticle {
    padding-bottom: 10px;
    background-color: white;
}

#specificnewsimg {
    padding-top: 25px;
    width:1150px;
    height:350px;
}

#specificnewstitle {

}

#specificnewstime {
    font-style: italic;
}

#specificnewssubtitle {
}

#specificnewscontent {
    font-size:15px;
}
#linkback {
    
}
