@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<h1> Heo: @ViewBag.Name</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <a><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <a><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
</div>