

<h1> Welcome Dank Admin Master:  @User.Identity.Name</h1>
<hr />
<h3>Choose an action:</h3>


<br />
<div class="row">

    <div class="col-md-4">

        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <a><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <a><img src="~/images/Placeholder.png" /></a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/images/Placeholder.png" />
        </div>
    </div>
</div>