
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h1>Create news article</h1>
        <form method="post">
            Title:
            <input id="newstitle" type="text" /> <br />
            Sub-title:
            <input id="newssubtitle" type="text" />
            <textarea id="mytextarea" maxlength="50">Hello, World!</textarea>
            <input type="submit" name="submitnews" />
        </form>
    </div>
</div>

