
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <form>
            Title:
            <input type="text" name="titletxt"/>
            Subtitle:
            <input type="text" name="subtitletxt" />
            Content:
            <input type="text" name="contenttxt"/>
            <input type="submit" value="save article"/>
        </form>
        <textarea>Hello</textarea>
    </div>
</div>

