@model EsportProject.Models.Register


    <form id="regcon" method="post" asp-controller="Account" asp-action="Register">
        <div class="container">
    
            <div class="row">
                <div class="col-md-9 ">
                    <h2>Register for an account</h2>
                    <div asp-validation-summary="All"></div>
                    <h3>Sign up for Dank Esports</h3>
                    <div>
                        <input name="email" id="regtext" asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <input name="password" id="regtext" asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <input name="confirmpassword" id="regtext" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div>
                        <input id="regbtn" type="submit" value="Register" />
                    </div>
                </div>
                <div class="col-md-10">

                </div>

            </div>       

            
        </div>
    </form>
